.container{
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    display         : flex;
    flex-direction  : row;
}
.overScrollContainer{
    height          : 1000%;
}
.chart{
    position        : relative;
    /*width           : calc( 100% - 200px );*/
    width           : 100%;
}
.slider{}
.tweetList{
    position        : absolute;
    width           : 350px;
    right           : 0;
    top             : -100px;
}
.tweetListWrapper{
    position        : relative;
    /*width           : 250px;*/
}
.scrollSpy{
    left            : 0;
    right           : 0;
    position        : absolute;
    top             : 60px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}