.container{
    /*display         : flex;*/
    /*flex-direction  : column;*/
    position        : relative;
    height          : 100%;
}
.item{
    /*position        : absolute;
    top             : 0;
    left            : 0;*/
}