.container{
    /*background-color    : rgba(0,0,0,0.1);*/
}
.placeholder{
    border              : solid 20px #fff;
    border-radius       : 4px;
    position            : absolute;
    top                 : 10px;
    width               : 100%;
    height              : calc( 100% - 20px );
}
.background{
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    bottom              : 0;
    background-color    : #efefef;
    background-image    : linear-gradient(
        63deg,
        rgba(190,190,190,0.1) 0%,
        rgba(190,190,190,0) 2.5%,
        rgba(190,190,190,0) 37.5%,
        rgba(190,190,190,0.2) 42.5%,
        rgba(190,190,190,0.2) 47.5%,
        rgba(190,190,190,0) 52.5%,
        rgba(190,190,190,0) 87.5%,
        rgba(190,190,190,0.2) 92.5%,
        rgba(190,190,190,0.2) 97.5%,
        rgba(190,190,190,0.1) 100%
    );
    background-size: 200px 400px;


    animation: backgroundFlatLoading 1s infinite linear;
}
@keyframes backgroundFlatLoading {
    0%{background-position:0px 0}
    100%{background-position:200px 0}
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6{
    background-color    : #fff;
    position            : absolute;
}
.block1{
    left                : 0;
    right               : 0;
    height              : 40px;
    bottom              : 16px;
}
.block2{
    left                : 0;
    right               : 0;
    height              : 10px;
    top                 : 35px;
}
.block3{
    left                : 35px;
    width               : 10px;
    top                 : 0;
    height              : 35px;
}
.block4{
    right               : 105;
    width               : 80px;
    top                 : 20px;
    height              : 15px;
}
.block5{
    right               : 0;
    width               : 105px;
    top                 : 0;
    height              : 35px;
}
.block6{
    right               : 0;
    width               : 200px;
    bottom              : 0;
    height              : 16px;
}