{
    "presets": [
        "flow",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        ["transform-es2015-modules-commonjs", {"allowTopLevelThis": true}],
        "transform-object-rest-spread"
    ]
}