.container{
    width           : 120px;
    height          : 120px;
}
.visible{}
.transition{}

.visible.transition{
    animation       : disappear 400ms ease;
}
.notVisible.transition{
    animation       : disappear 400ms ease;
    opacity         : 0;
}

@keyframes disappear {
    0%{
        transform   : translate3d(0,0,0);
        opacity     : 1;
    }
    20%{
        transform   : translate3d(0,10px,0);
        opacity     : 1;
    }
    100%{
        transform   : translate3d(0,-100px,0);
        opacity     : 0;
    }
}



.shadow{
    fill            : rgba(0,0,0,0.3);
    animation       : shadowM 2000ms Infinite;
}
@keyframes shadowM {
    0%{ transform   : scale(0.92); }
    75%{ transform   : scale(1); }
    100%{ transform   : scale(0.92); }
}

.tic,
.potato{
    fill            : none;
    stroke          : #fff;
    stroke-width    : 4;
    stroke-linecap  : round;
    stroke-linejoin : round;
}
.text{
    fill            : #fff;
    font-family     : helvetica;
    font-size       : 30;
    text-anchor     : middle;
    letter-spacing  : 12px;
}


.tic{
    animation       : ticM 2000ms Infinite;
    stroke-width    : 6;
}

@keyframes ticM {
    0%{ transform    : translate3d(0,-10px,0); }
    75%{ transform   : translate3d(0,10px,0); }
    100%{ transform  : translate3d(0,-10px,0); }
}

.mouse{
    animation       : mouseM 2000ms Infinite;
}
@keyframes mouseM {
    0%{ transform   : translate3d(0,-40px,0) }
    75%{ transform   : translate3d(0,-8px,0) }
    100%{ transform   : translate3d(0,-40px,0) }
}

.text{
    animation       : textM 2000ms Infinite;
}
@keyframes textM {
    0%{ transform   : translate3d(0,4px,0) }
    70%{ transform   : translate3d(0,2px,0) }
    75%{ transform   : translate3d(0,-6px,0) }
    100%{ transform   : translate3d(0,4px,0) }
}